<!doctype html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>MuseoConnect - Admin</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700" rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/animate.css/animate.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style.css" rel="stylesheet">

</head>

<body>
  <!-- Navbar -->
  <nav class="navbar navbar-default navbar-trans navbar-expand-lg fixed-top">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <a class="navbar-brand text-brand" href="/loggedInindex">Museo<span class="color-b">Connect </span>ADMIN</a>

      <div class="navbar-collapse collapse justify-content-center" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link " href="/logout">Log Out</a>
          </li>
        </ul>
      </div>
    </div>
  </nav><!-- End Header/Navbar -->

  <main id="main">

    <!-- USER LIST -->
    <section class="intro-single">
      <div class="container">
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <div class="title-single-box">
              <h1 class="title-single">User List</h1>
            </div>
          </div>
          <br><br><br><br>

          <form id="search-form" class="mb-3">
            <div class="input-group">
              <input type="text" id="search-input" class="form-control" placeholder="Search by name or email"
                autocomplete="off">
              <button type="button" class="btn btn-primary" onclick="searchUsers()">Search</button>
              <button type="button" class="btn btn-secondary" onclick="resetSearch()">Reset</button>
            </div>
          </form>

          <div class="row">
            <% users.forEach(user=> { %>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= user.name %>
                    </h5>
                    <p class="card-text"><strong>Email:</strong>
                      <%= user.email %>
                    </p>
                    <form action="/loggedIn/admin/users/<%= user._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger">Delete User</button>
                    </form>

                    <form action="/loggedIn/admin/users/<%= user._id %>?_method=PUT" method="post" class="mt-2">
                      <div class="input-group">
                        <input type="text" name="name" value="<%= user.name %>" required class="form-control"
                          autocomplete="off">
                        <button type="submit" class="btn btn-success">Update Name</button>
                      </div>
                    </form>

                    <form action="/loggedIn/admin/users/<%= user._id %>/email?_method=PUT" method="post" class="mt-2">
                      <div class="input-group">
                        <input type="email" name="email" value="<%= user.email %>" required class="form-control"
                          autocomplete="off">
                        <button type="submit" class="btn btn-success">Update Email</button>
                      </div>
                    </form>

                    <form action="/loggedIn/admin/users/<%= user._id %>/score?_method=PUT" method="post" class="mt-2">
                      <div class="input-group">
                        <input type="number" name="score" value="<%= user.score %>" required class="form-control"
                          autocomplete="off">
                        <button type="submit" class="btn btn-success">Update Score</button>
                      </div>
                    </form>

                    <form action="/loggedIn/admin/users/<%= user._id %>/password?_method=PUT" method="post"
                      class="mt-2">
                      <div class="input-group">
                        <input type="password" name="password" required class="form-control" autocomplete="off">
                        <button type="submit" class="btn btn-success">Update Password</button>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
        </div>

        <!-- Reservation List -->
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <br><br><br><br><br>
            <div class="title-single-box">
              <h1 class="title-single">Reservation List</h1>
            </div>
          </div>
          <br><br><br><br><br><br><br><br><br>

          <form id="reservation-search-form" class="mb-3">
            <div class="input-group">
              <input type="text" id="reservation-search-input" class="form-control"
                placeholder="Search by name or email" autocomplete="off">
              <button type="button" id="reservation-search-button" class="btn btn-primary">Search</button>
              <button type="button" id="reservation-reset-button" class="btn btn-secondary">Reset</button>
            </div>
          </form>


          <div class="row">
            <% reservations.forEach(reservation=> { %>
              <div class="col-12 col-md-6 col-lg-4 reservation-card">
                <div class="card mb-3">
                  <div class="card-body">
                    <h5 class="card-title">
                      <%= reservation.fullName %>
                    </h5>
                    <p class="card-text"><strong>Email:</strong>
                      <%= reservation.emailAddress %>
                    </p>
                    <!-- Display reservations for the user -->
                    <h6>Reservations:</h6>

                    <!-- Update Visit Date -->
                    <form action="/loggedIn/admin/reservations/<%= reservation._id %>/visitDate?_method=PUT"
                      method="post" class="mt-2">
                      <div class="input-group">
                        <input type="date" name="visitDate"
                          value="<%= reservation.visitDate.toISOString().split('T')[0] %>" required class="form-control"
                          autocomplete="off">
                        <button type="submit" class="btn btn-success">Update Visit Date</button>
                      </div>
                    </form>

                    <!-- Update Visit Time -->
                    <form action="/loggedIn/admin/reservations/<%= reservation._id %>/visitTime?_method=PUT"
                      method="post" class="mt-2">
                      <div class="form-check-inline">
                        <input type="radio" name="visitTime" id="radio1030" value="10:30" class="form-check-input"
                          required>
                        <label for="radio1030" class="form-check-label">10:30 AM</label>
                      </div>
                      <div class="form-check-inline">
                        <input type="radio" name="visitTime" id="radio1330" value="13:30" class="form-check-input"
                          required>
                        <label for="radio1330" class="form-check-label">1:30 PM</label>
                      </div>
                      <button type="submit" class="btn btn-success ml-2">Update Visit Time</button>
                    </form>

                    <!-- Update Contact Number -->
                    <form action="/loggedIn/admin/reservations/<%= reservation._id %>/contactNumber?_method=PUT"
                      method="post" class="mt-2">
                      <div class="input-group">
                        <input type="number" name="contactNumber" value="<%= reservation.contactNumber %>" required
                          class="form-control" autocomplete="off">
                        <button type="submit" class="btn btn-success">Update Contact Number</button>
                      </div>
                    </form>

                    <!-- Update Number of Visitors -->
                    <form action="/loggedIn/admin/reservations/<%= reservation._id %>/numberOfVisitors?_method=PUT"
                      method="post" class="mt-2">
                      <div class="input-group">
                        <input type="number" name="numberOfVisitors" value="<%= reservation.numberOfVisitors %>"
                          required class="form-control" autocomplete="off">
                        <button type="submit" class="btn btn-success">Update Number of Visitors</button>
                      </div>
                    </form>

                    <!-- Add a button to remove the reservation -->
                    <form action="/loggedIn/admin/remove-reservation/<%= reservation._id %>" method="post">
                      <button type="submit" class="btn btn-danger btn-sm mt-2">Remove Reservation</button>
                    </form>

                  </div>
                </div>
              </div>
              <% }) %>
          </div>
        </div>

        <!-- Blocked Reservation -->
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <br><br><br><br><br>
            <div class="title-single-box">
              <h1 class="title-single">Blocked Date List</h1>
            </div>
          </div>
          <br><br><br><br><br><br><br><br><br>

          <form id="setDate" action="/loggedIn/admin/addBlockedDates" method="post" class="mb-3">
            <div class="input-group">
              <input type="date" id="blockedDate" class="form-control" name="blockedDate" autocomplete="off" required>
              <div class="mt-2">
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="10:30" id="checkbox1030" name="blockedTimes">
                  <label class="form-check-label" for="checkbox1030">
                    10:30 AM
                  </label>
                </div>
                <div class="form-check">
                  <input class="form-check-input" type="checkbox" value="13:30" id="checkbox1330" name="blockedTimes">
                  <label class="form-check-label" for="checkbox1330">
                    1:30 PM
                  </label>
                </div>
              </div>
              <button type="button" id="btnsubmitDate" class="btn btn-primary mt-2">Block Date</button>
            </div>
          </form>

          <div class="row">
            <% blocked.forEach(blocked=> { %>
              <div class="col-12 col-md-6 col-lg-4 reservation-card">
                <div class="card mb-3">
                  <div class="card-body">
                    <h6>Blocked Dates</h6>

                    <!-- Update Blocked Date -->
                    <form action="/loggedIn/admin/blocked/<%= blocked._id %>/blockedDate?_method=PUT" method="post"
                      class="mt-2">
                      <div class="input-group">
                        <input type="date" name="updblockedDate"
                          value="<%= blocked.blockedDate ? blocked.blockedDate.toISOString().split('T')[0] : '' %>"
                          required class="form-control" autocomplete="off">
                        <button type="submit" class="btn btn-success">Update blocked Date</button>
                      </div>
                    </form>

                    <!-- Update Blocked Times -->
                    <form action="/loggedIn/admin/removeBlockedTime/<%= blocked._id %>" method="POST" class="mt-2">
                      <div class="">
                        <% if (blocked.blockedTimes && blocked.blockedTimes.length> 0) { %>
                          <h6>Blocked Times:</h6>
                          <% blocked.blockedTimes.forEach(function (time) { %>
                            <div class="d-flex align-items-center my-2">
                              <%= time %>
                                <% if ((time==='10:30' || time==='13:30' ) && blocked.blockedTimes.includes('10:30') &&
                                  blocked.blockedTimes.includes('13:30')) { %>
                                  <form action="/loggedIn/admin/removeBlockedTime/<%= blocked._id %>" method="POST">
                                    <input type="hidden" name="time" value="<%= time %>">
                                    <button type="submit" class="btn btn-danger btn-sm ms-2">Remove</button>
                                  </form>
                                  <% } %>
                            </div>
                            <% }); %>
                              <% } %>
                      </div>
                    </form>


                    <!-- Add a button to remove the reservation -->
                    <form action="/loggedIn/admin/removeBlockedDate/<%= blocked._id %>" method="POST">
                      <button type="submit" class="btn btn-danger btn-sm mt-2">Remove Block</button>
                    </form>
                  </div>
                </div>
              </div>
              <% }) %>
          </div>
        </div>

        <!-- Add Artifacts -->
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <br><br><br><br><br>
            <div class="title-single-box">
              <h1 class="title-single">Add Artifact</h1>
            </div>
          </div>
          <br><br><br><br><br><br><br><br><br>

          <form id="add-artifact-form" action="/loggedIn/admin/addArtifact" method="POST" enctype="multipart/form-data">
            <div class="mb-3">
              <label for="image" class="form-label">Artifact Image</label>
              <input type="file" class="form-control" id="image" name="image" required>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Artifact Title</label>
              <input type="text" class="form-control" id="title" name="title" required>
            </div>
            <div class="mb-3">
              <label for="title" class="form-label">Artifact Type</label>
              <input type="text" class="form-control" id="type" name="type" required>
            </div>
            <div class="mb-3">
              <label for="description" class="form-label">Artifact Description</label>
              <textarea class="form-control" id="description" name="description" rows="4" required></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Add Artifact</button>
          </form>
        </div>

        <!-- Display Artifacts -->
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <br><br><br><br><br>
            <div class="title-single-box">
              <h1 class="title-single">Artifacts</h1>
            </div>
          </div>
          <br><br><br><br><br><br><br><br><br>

          <div class="row">
            <% artifacts.forEach(artifact=> { %>
              <div class="col-12 col-md-6 col-lg-4">
                <div class="card mb-3">
                  <img src="<%= artifact.image %>" class="card-img-top" alt="<%= artifact.title %>">

                  <div class="card-body">
                    <h5 class="card-title">
                      <%= artifact.title %>
                    </h5>
                    <p class="card-text">
                      <%= artifact.description %>
                    </p>
                    <form action="/loggedIn/admin/artifacts/<%= artifact._id %>?_method=DELETE" method="POST">
                      <button type="submit" class="btn btn-danger">Remove Artifact</button>
                    </form>
                    <form action="/loggedIn/admin/artifacts/<%= artifact._id %>?_method=PUT" method="post" class="mt-2"
                      enctype="multipart/form-data">
                      <div class="mb-3">
                        <label for="updateTitle" class="form-label">Update Title</label>
                        <input type="text" name="updateTitle" value="<%= artifact.title %>" class="form-control"
                          required>
                      </div>
                      <div class="mb-3">
                        <label for="updateTitle" class="form-label">Update Type</label>
                        <input type="text" name="updateType" value="<%= artifact.type %>" class="form-control" required>
                      </div>
                      <div class="mb-3">
                        <label for="updateDescription" class="form-label">Update Description</label>
                        <textarea name="updateDescription" class="form-control" rows="4"
                          required><%= artifact.description %></textarea>
                      </div>
                      <div class="mb-3">
                        <label for="updateImage" class="form-label">Update Image</label>
                        <input type="file" name="updateImage" class="form-control" accept="image/*">
                      </div>
                      <button type="submit" class="btn btn-primary">Update Artifact</button>
                    </form>

                  </div>
                </div>
              </div>
              <% }) %>
          </div>
        </div>

        <!-- Report Generation -->
        <div class="row">
          <div class="col-md-12 col-lg-8">
            <br><br><br><br><br>
            <div class="title-single-box">
              <h1 class="title-single">Reports</h1>
            </div>
          </div>
          <br><br><br><br><br><br><br><br><br>

          <div class="col-md-6 my-3">
            <h2>User Type Distribution</h2>
            <canvas id="userTypeChart" width="400" height="400"></canvas>
          </div>

          <!-- User Score Distribution Chart Container -->
          <div class="col-md-6 my-3">
            <h2>User Score Distribution</h2>
            <canvas id="userScoreChart" width="400" height="400"></canvas>
          </div>

          <!-- Monthly Reservation Count Line Chart Container -->
          <div class="col-md-6 my-3">
            <h2>Monthly Reservation Counts</h2>
            <canvas id="monthlyReservationCountChart" width="400" height="400"></canvas>
          </div>

          <!-- Visitor count per month HTML body -->
          <div class="col-md-6 my-3">
            <h2>Visitor Count per Month</h2>
            <canvas id="visitorCountChart" width="400" height="400"></canvas>
          </div>

          <!-- Blocked dates by week -->
            <div class="col-md-6 my-3">
              <h2>Blocked Dates by Week</h2>
              <canvas id="blockedDatesByWeekChart" width="400" height="400"></canvas>
            </div>


          <!-- Artifacts by Type -->
            <div class="col-md-6 my-3">
              <h2>Artifacts by Type</h2>
              <canvas id="artifactsByTypeChart" width="400" height="400"></canvas>
            </div>

        </div>

      </div>
    </section>
  </main>

  <!-- Footer -->
  <footer>
    <div class="container">
      <div class="row">
        <div class="col-md-12">

          <div class="copyright-footer">
            <p class="copyright color-text-a">
              <span class="color-a"> © All Rights Reserved 2023, Fergus Ampuan, Rasheed Taban, Lemuel
                Palgan
            </p>
            <% if (admin && admin.name) { %>
              <p hidden>Welcome, <%= admin.name %>
              </p>
              <% } else { %>
                <p hidden>User is not logged in</p>
                <script>
                  // Redirect to the logout route when user.name is empty
                  window.location.href = "/logout";
                </script>
                <% } %>
          </div>
        </div>
      </div>
    </div>
  </footer><!-- End  Footer -->

  <div id="preloader"></div>
  <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
      class="bi bi-arrow-up-short"></i></a>

  <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
  <script src="assets/vendor/php-email-form/validate.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
    crossorigin="anonymous"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4="
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="/js/admin.js"></script>
  <script src="/js/index.js"></script>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Get user data from your server-side rendering (Assuming you've already passed 'users' and 'reservations' from your route)
      const usersJSON = '<%- JSON.stringify(users) %>';
      const reservationsJSON = '<%- JSON.stringify(reservations) %>';
      const blockedJSON = '<%- JSON.stringify(blocked) %>';
      const artifactsJSON = '<%- JSON.stringify(artifacts) %>';
      const users = JSON.parse(usersJSON);
      const reservations = JSON.parse(reservationsJSON);
      const blocked = JSON.parse(blockedJSON);
      const artifacts = JSON.parse(artifactsJSON);

      // Initialize an array to store monthly reservation counts
      const monthlyReservationCounts = getMonthlyReservationCounts(reservations);

      // Initialize an array to store user scores
      const userScoreData = Array(10).fill(0);
      const userTypeData = {};

      // Extract data for charts
      users.forEach((user) => {
        // User Type Distribution
        const userType = user.type;
        userTypeData[userType] = (userTypeData[userType] || 0) + 1;

        // User Score Distribution
        const userScore = user.score;
        if (userScore !== undefined) {
          const score = parseInt(userScore);
          if (score >= 1 && score <= 10) {
            userScoreData[score - 1] += 1;
          }
        }
      });

      // Create an array to store the visitor count for each month
      const visitorCountPerMonth = new Array(12).fill(0);

      // Group the visitor data by month and count the visitors
      reservations.forEach((reservation) => {
        const visitDate = new Date(reservation.visitDate);
        const month = visitDate.getMonth(); // Months are zero-indexed (0-11)
        visitorCountPerMonth[month]++;
      });

      // Create the pie chart for User Type Distribution
      const userTypeChartCtx = document.getElementById("userTypeChart").getContext("2d");
      const userTypeChart = new Chart(userTypeChartCtx, {
        type: "pie",
        data: {
          labels: Object.keys(userTypeData),
          datasets: [
            {
              data: Object.values(userTypeData),
              backgroundColor: [
                "rgba(255, 99, 132, 0.7)",
                "rgba(54, 162, 235, 0.7)",
                "rgba(255, 206, 86, 0.7)",
                "rgba(75, 192, 192, 0.7)",
              ],
            },
          ],
        },
      });

      // Create the bar graph for User Score Distribution
      const userScoreChartCtx = document.getElementById("userScoreChart").getContext("2d");
      const userScoreChart = new Chart(userScoreChartCtx, {
        type: "bar",
        data: {
          labels: ["1", "2", "3", "4", "5", "6", "7", "8", "9", "10"], // X-axis labels
          datasets: [
            {
              label: "Number of Users",
              data: userScoreData,
              backgroundColor: "rgba(75, 192, 192, 0.7)",
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      // Prepare the data for the line graph
      const monthlyReservationCountChartCtx = document.getElementById("monthlyReservationCountChart").getContext("2d");
      const monthlyReservationCountChart = new Chart(monthlyReservationCountChartCtx, {
        type: "line",
        data: {
          labels: Object.keys(monthlyReservationCounts),
          datasets: [
            {
              label: "Monthly Reservation Counts",
              data: Object.values(monthlyReservationCounts),
              borderColor: 'rgba(75, 192, 192, 1)',
              borderWidth: 1,
              fill: false
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      // Create the bar graph for Visitor Count per Month
      const visitorCountChartCtx = document.getElementById("visitorCountChart").getContext("2d");
      const visitorCountChart = new Chart(visitorCountChartCtx, {
        type: "bar",
        data: {
          labels: [
            "January", "February", "March", "April", "May", "June",
            "July", "August", "September", "October", "November", "December",
          ],
          datasets: [
            {
              label: "Visitor Count",
              data: visitorCountPerMonth,
              backgroundColor: "rgba(75, 192, 192, 0.7)",
            },
          ],
        },
        options: {
          scales: {
            x: {
              title: {
                display: true,
                text: "Month",
              },
            },
            y: {
              title: {
                display: true,
                text: "Visitor Count",
              },
              beginAtZero: true,
            },
          },
        },
      });

      function getMonthlyReservationCounts(reservations) {
        const monthlyCounts = {};

        reservations.forEach((reservation) => {
          const visitDate = new Date(reservation.visitDate);
          const year = visitDate.getFullYear();
          const month = visitDate.getMonth() + 1; // Months are 0-based

          const key = `${year}-${month}`;
          if (monthlyCounts[key]) {
            monthlyCounts[key]++;
          } else {
            monthlyCounts[key] = 1;
          }
        });

        return monthlyCounts;
      }

      // Create an array to store the blocked dates
      const blockedDates = blocked.map((entry) => entry.blockedDate);

      // Process blocked dates and group them by week
      const blockedDatesByWeek = groupBlockedDatesByWeek(blockedDates);

      // Chart.js code to create the chart
      const blockedDatesByWeekChartCtx = document.getElementById("blockedDatesByWeekChart").getContext("2d");
      const blockedDatesByWeekChart = new Chart(blockedDatesByWeekChartCtx, {
        type: "bar",
        data: {
          labels: Object.keys(blockedDatesByWeek), // Weeks as labels
          datasets: [
            {
              label: "Blocked Dates Count",
              data: Object.values(blockedDatesByWeek), // Count of blocked dates for each week
              backgroundColor: "rgba(75, 192, 192, 0.7)",
            },
          ],
        },
        options: {
          scales: {
            y: {
              beginAtZero: true,
            },
          },
        },
      });

      // Function to group blocked dates by week
      function groupBlockedDatesByWeek(dates) {
        const blockedDatesByWeek = {};
        dates.forEach((date) => {
          const weekStart = getWeekStartDate(date);
          if (blockedDatesByWeek[weekStart]) {
            blockedDatesByWeek[weekStart]++;
          } else {
            blockedDatesByWeek[weekStart] = 1;
          }
        });
        return blockedDatesByWeek;
      }

      // Function to get the start date of the week for a given date
      function getWeekStartDate(date) {
        const d = new Date(date);
        const day = d.getDay();
        const diff = d.getDate() - day + (day == 0 ? -6 : 1); // Adjust for Sunday
        d.setDate(diff);
        return d.toISOString().split("T")[0]; // Return date in ISO format
      }

      // Initialize an object to store artifact counts by type
      const artifactTypeCounts = {};

      // Count artifacts by type
      artifacts.forEach((artifact) => {
        const type = artifact.type;
        if (artifactTypeCounts[type]) {
          artifactTypeCounts[type]++;
        } else {
          artifactTypeCounts[type] = 1;
        }
      });

      // Prepare data for the pie chart
      const labels = Object.keys(artifactTypeCounts);
      const data = Object.values(artifactTypeCounts);

      // Create the pie chart
      const artifactsByTypeChartCtx = document.getElementById("artifactsByTypeChart").getContext("2d");
      const artifactsByTypeChart = new Chart(artifactsByTypeChartCtx, {
        type: "pie",
        data: {
          labels: labels,
          datasets: [
            {
              data: data,
              backgroundColor: [
                "rgba(255, 99, 132, 0.7)",
                "rgba(54, 162, 235, 0.7)",
                "rgba(255, 206, 86, 0.7)",
                "rgba(75, 192, 192, 0.7)",
              ],
            },
          ],
        },
      });
    });

  </script>
</body>

</html>